<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio corsista</title>
</head>
<body>
    <h1>Dettaglio corsista <%= student.nome %> <%= student.cognome %></h1>
    <ul>
        <li><%= student.codice_fiscale %></li>
        <li><%= student.email %></li>
        <li><%= student.username %></li>
        <% if (student.plainPassword) { %>
            <li><strong>Password:</strong> <%= student.plainPassword %></li>
        <% } else { %>
            <li><em>La password è criptata e non può essere visualizzata.</em></li>
        <% } %>
        <li><% student.assignedCourses.forEach((course,index) => { %>
            <ul>
                <li><%= course.nome_corso %></li>
                <li><%= course.numero_autorizzazione %></li>
                <li><%= course.durata %></li>
            </ul>
            <% }) %>
        </li>
    </ul>
</body>
</html>