<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio del corso</title>
</head>
<body>
    <h1>Dettaglio corso <%= course.nome_corso %></h1>
    <ul>
        <li><%= course.categoria_corso %></li>
        <li><%= course.numero_autorizzazione %></li>
        <li><%= course.durata %></li>
        <li><% course.programma_corso.forEach((modulo,index) => { %>
            <ul>
                <li><%= modulo.modulo %></li>
                <li><%= modulo.descrizione %></li>
                <li><%= modulo.durata %></li>
            </ul>
            <% }) %>
        </li>
        <li><% course.assignedTo.forEach((student,index) => { %>
            <ul>
                <li><%= student.nome %></li>
                <li><%= student.cognome %></li>
                <li><%= student.codice_fiscale %></li>
            </ul>
            <% }) %>
        </li>
    </ul>
</body>
</html>