<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Corsi</title>
</head>
<body>
    <h1>Visualizza tutti i corsi</h1>
    <a href="/admin/dashboard/courses/create">Crea il corso</a>
    <table>
        <thead>
            <tr>
                <td>N°</td>
                <td>Nome Corso</td>
                <td>Durata</td>
                <td>Data richiesta</td>
                <td>Status</td>
                <td>Azioni</td>
            </tr>
        </thead>
        <tbody>
            <% courses.forEach((course, index) => { %>
            <tr>
                <td :key="index"><%= index + 1%></td>
                <td><%=course.nome_corso%></td>
                <td><%=course.durata%> ore</td>
                <td><%=new Date(course.data_richiesta).toLocaleDateString('it-IT')%></td>
                <td><%=course.status%></td>
                <td>
                    <a href="/admin/dashboard/courses/edit/<%= course._id %>">Modifica il corso</a>
                    <form action="/admin/dashboard/courses/delete/<%= course._id %>?_method=DELETE" method="post">
                        <input type="submit" value="Elima il corso">
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>